<ul class="header-social-icons social-icons hidden-xs">
  {% comment %}
  <li class="social-icons-facebook"><a href="http://www.facebook.com/" target="_blank" title="Facebook"><i class="fa fa-facebook"></i></a></li>
  {% endcomment %}
  <li class="social-icons-twitter"><a href="http://www.twitter.com/EzeraTech" target="_blank" title="Twitter"><i class="fa fa-twitter"></i></a></li>
  {% comment %}
  <li class="social-icons-linkedin"><a href="http://www.linkedin.com/" target="_blank" title="Linkedin"><i class="fa fa-linkedin"></i></a></li>
  {% endcomment %}
</ul>
