<!DOCTYPE html>
<html>
	{% include head.html %}
	<body>

		<div class="body">
			{% include header-narrow.html %}
			<div role="main" class="main">
        {% include breadcrumb.html %}
        <div class="container">
          <div class="row">
            <div class="col-md-12">
              <div class="portfolio-title">
                <div class="row">
                  <div class="portfolio-nav-all col-md-1">
                    <a href="/work/" data-tooltip data-original-title="Back to list"><i class="fa fa-th"></i></a>
                  </div>
                  <div class="col-md-10 center">
                    <h2 class="mb-none">{{ page.subtitle }}</h2>
                  </div>
                  <div class="portfolio-nav col-md-1">
										{% for item in site.works %}
										{% unless current_index > -1 %}
										{% unless forloop.first %}{% assign previous_index = forloop.index0 | minus: 1 %}{% endunless %}
										{% assign next_index = forloop.index0 | plus: 1 %}
										{% if item.title == page.title %}
										{% assign current_index = forloop.index0 %}
										{% endif %}
										{% endunless %}
										{% endfor %}
										{% assign previous_item = site.works[previous_index] | default: site.works.last %}
										{% assign next_item = site.works[next_index] | default: site.works.first %}
										{% if previous_item != nil %}
											<a href="{{ previous_item.url }}" class="portfolio-nav-prev" data-tooltip="" data-original-title="{{ previous_item.title }}"><i class="fa fa-chevron-left"></i></a>
										{% endif %}
										{% if next_item != nil %}
											<a href="{{ next_item.url }}" class="portfolio-nav-next" data-tooltip="" data-original-title="{{ next_item.title }}"><i class="fa fa-chevron-right"></i></a>
										{% endif %}
									</div>
                </div>
              </div>

              <hr class="tall">
            </div>
        </div>

<div class="row">
  <div class="col-md-4">
    <div class="_owl-carousel _owl-theme" data-plugin-options='{"items": 1, "margin": 10}'>
      <div>
        <span class="img-thumbnail full-width">
          <!-- 447x447 -->
          {% include work-thumbnail.html item=page %}
        </span>
      </div>
    </div>
		<ul class="portfolio-details">
			<li>
				<p><strong>Skills:</strong></p>

				<ul class="list list-inline list-icons">
					{% for skill in page.tags %}
						<li><i class="fa fa-check-circle"></i> {{ skill }}</li>
					{% endfor %}
				</ul>
			</li>
			{% comment %}
			<li>
				<p><strong>Client:</strong></p>
				<p>{{ portfolio_item.client_name }}</p>
			</li>
			{% endcomment %}
		</ul>
    {% if page.live_url %}
    <div class="text-center">
      <a href="{{ page.live_url }}" target='_blank' class="btn btn-primary btn-icon"><i class="fa fa-external-link"></i>Live Preview</a> <span class="arrow hlb appear-animation" data-appear-animation="rotateInUpLeft" data-appear-animation-delay="800"></span>
    </div>
    {% endif %}
  </div>

  <div class="col-md-8">

    <div class="portfolio-info">
      <div class="row">
        <div class="col-md-12 center">
          <ul>
            <!--
            <li>
              <a href="#" data-tooltip data-original-title="Like"><i class="fa fa-heart"></i>14</a>
              </li>
            -->
            <li>
              <i class="fa fa-calendar"></i> {{ page.date | date: '%B %-d, %Y'}}
            </li>
            <!--
            <li>
              <i class="fa fa-tags"></i> <a href="#">Brand</a>, <a href="#">Design</a>
            </li>
            -->
          </ul>
        </div>
      </div>
    </div>

    <h4 class="heading-primary">Project <strong>Description</strong></h4>
    <div class="mt-xlg">{{ content }}</div>

  </div>
</div>
{% comment %}
<div class="row">
  <div class="col-md-12">

    <hr class="tall">

    <h4 class="mb-md text-uppercase">Related <strong>Work</strong></h4>

    <div class="row">

      <ul class="portfolio-list">
        {% for related_project in portfolio_item.related_projects %}
        <li class="col-md-3 col-sm-6 col-xs-12">
          <div class="portfolio-item">
            <a href="#">
              <span class="thumb-info">
                <span class="thumb-info-wrapper">
                  <img src="{{ related_project.thumbnail.url | resize: '447x447#' }}" class="img-responsive" alt="">
                  <span class="thumb-info-title">
                    <span class="thumb-info-inner">{{ related_project.client_name }}</span>
                    <span class="thumb-info-type">{{ related_project.project_type}}</span>
                  </span>
                  <span class="thumb-info-action">
                    <span class="thumb-info-action-icon"><i class="fa fa-link"></i></span>
                  </span>
                </span>
              </span>
            </a>
          </div>
        </li>
        {% endfor %}
      </ul>

    </div>
  </div>
</div>
{% endcomment %}
        </div>
      </div>
			{% include footer.html %}
		</div>
		{% include foot.html %}
	</body>
</html>
